<main>
  <h1>All posts</h1>
  <% @posts.each do |post|%>
  <div class="post" style="border: 1px solid grey">
    <h2><%= post.title %></h2>
    <p style="color: grey; font-size: 14px;">Author: <%= User.find(post.user_id).name %></p>
    <p><%= post.body %></p>
  </div>
  <% end %>
</main>