* {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav {
  background-color: skyblue;
  display: flex;
  justify-content: flex-end;
}

nav p {
  padding: 8px 10px;
  font-size: 13px;
}

.notice, .alert {
  text-align: center;
  color: red;
  margin: 5px auto;
}

h1 {
  text-align: center;
  font-weight: 600;
  padding: 5px;
  margin-bottom:  20px;
}

h2 {
  font-size: 18px;
}

.author {
  color: rgb(124, 120, 120);
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.post-body {
  color: rgb(49, 48, 48);
  font-size: 14px;
  line-height: 1.25rem;
}

main {
  margin: 1rem auto;
  width: 70%;
  max-width: 700px;
}

.post {
  background-color: rgba(250, 235, 215, 0.295);
  padding: 10px 15px;
  margin: 15px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.247);
}

/* css for registration forms */

.devise-forms {
  border: 1px solid rgb(51, 51, 51);
  margin: 5rem auto;
  width: fit-content;
  padding: 10px 15px;
}

.devise-forms h2 {
  text-align: center;
  margin: 5px;
}

.devise-forms .field {
  margin-bottom: 10px;
  font-size: 12px;
}

.devise-forms .actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.devise-forms .actions input {
  background-color: skyblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px 0;
  font-weight: bold;
}

.already-member, .not-a-member {
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}




/* css for post for */

.post-form {
  border: 1px solid rgb(51, 51, 51);
  margin: 5rem auto;
  width: fit-content;
  padding: 10px 15px;
}

.field {
  margin-bottom: 10px;
  font-size: 12px;
}

.field label {
  display: block;
  margin-bottom: 5px;
}

#post_body {
  width: 60vw;
  height: 15rem;
}

.post-form .field:last-child {
  display: flex;
  justify-content: center;
}

.post-form .field:last-child input {
  background-color: skyblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px;
  font-weight: bold;
}
